.content{
  padding:0 40px;
}



  /*-- Colors ---------------*/
.col-green{
  background-color:#00E55C;
}
.col-red{
background-color:#e74c3c;
}
.col-lightGrey{
  background-color:#ecf0f1;
}


/*-- Tracker ---------------*/
.tracker{
  display:flex;
  flex-wrap: wrap;
  width:500px;
  justify-content: center;
  }
.trackerItem{
  width:60px;
  height:40px;
  min-height:15px;
  margin:4px;
  box-shadow: 1px 1px 3px #666;
  float:left;
  }


  .doughnut-chart{
    width:400px;
    }