#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body{
  font-family:'Lato', Arial, Helvetica, sans-serif;
  color:#000;
  font-size:18px;
  line-height:24px;
}

.wrapper{
  width:100%;
}
.container{
  width:90%;
  max-width:1080px;
  /*border:1px solid red;*/
  margin:0 auto;
}
.content{
  width:70%;
  margin:0 auto;
}

/*-- Typography ---------------*/
h1{
  font-size:34px;
  line-height:32px;
  }
  h2{
  font-size:20px;
  line-height:26px;
  }
  p{
  font-size:18px;
  line-height:24px;
  color:#333;
  }




  
