:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  width:90%;
  flex-direction:column;
}




button {
  margin:30px 0;
  color:#fff;
  font-size:16px;
  border-radius:50px;
  border:none;
  padding:20px 30px;
  width:250px;
  font-weight:bold;
  cursor: pointer;
  transition: border-color 0.25s;
  display:block;
}
.mainBtn{
  background-color:#38369A;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
