/*-- Nav ---------------*/
nav {
    width:800px;
    display:block;
    min-height:50px;
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:100px;
  }
  ul{
   float:right; 
  }
  ul li {
    list-style-type:none;
    float:left;
    margin:0 30px 0 0;
  }
  nav a {
    color: #38369A;
  }
  nav a:hover {
    font-weight:bold;
    color:#1F1D55;
  }
  nav a.active{
    font-weight:bold;
  }

  nav a.active:before{
    content:"»";
    margin-right:5px;
  }